:root {
  --BrightOrange: hsl(31, 77%, 52%);
  --DarkCyan: hsl(184, 100%, 22%);
  --VeryDarkCyan: hsl(179, 100%, 13%);
  --TransparentWhite: hsla(0, 0%, 100%, 0.75);
  --VeryLightGray: hsl(0, 0%, 95%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  height: 100vh;
  overflow: auto;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

p {
  color: var(--TransparentWhite);
  font-size: 15px;
  line-height: 1.5rem;
}

button {
  position: absolute;
  font-family: inherit;
  color: inherit;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  padding: 15px;
  width: 140px;
  border-radius: 25px;
  border: 2px solid var(--TransparentWhite);
  transition: all 0.2s ease-in;
  bottom: 45px;
}

button:hover {
  background-color: inherit;
  cursor: pointer;
  color: var(--VeryLightGray);
}

h1 {
  font-family: "Big Shoulders Display";
  color: var(--VeryLightGray);
  margin-bottom: 1.5rem;
}

.columns {
  max-width: 280px;
  height: 450px;
  font-family: "Lexend Deca";
  padding: 40px;
  position: relative;
}

.vehicleimg {
  margin-bottom: 30px;
}

.sedan {
  background-color: var(--BrightOrange);
  border-radius: 10px 0 0 10px;
  color: var(--BrightOrange);
}

.suv {
  background-color: var(--DarkCyan);
  color: var(--DarkCyan);
}

.lux {
  background-color: var(--VeryDarkCyan);
  border-radius: 0 10px 10px 0;
  color: var(--VeryDarkCyan);
}

.attribution {
  width: 100%;
  position: absolute;
  bottom: 10px;
  color: var(--TransparentWhite);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

a:hover {
  color: white;
}

@media only screen and (max-width: 845px) {
  body {
    display: flex;
    width: 100%;
    overflow: scroll;
    flex-wrap: wrap;
  }

  main {
    padding: 20px 0;
    flex-direction: column;
  }

  .sedan {
    border-radius: 10px 10px 0 0;
  }

  .lux {
    border-radius: 0 0 10px 10px;
  }

  p {
    font-size: 18px;
  }

  .attribution {
    position: relative;

    padding-bottom: 10px;
  }
}
